<!-- Modal -->
<div
    class="modal fade"
    id="editTaskModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="edittask-modallabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edittask-modallabel">
                    Modification d'une tâche
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" onsubmit="onEditTaskSubmit(this);">
                    <div class="form-group">
                        <input
                            type="text"
                            name="projectId"
                            value="<%= response.projectId %>"
                            id="edittask-projectid"
                            hidden
                        />
                    </div>
                    <div class="form-group">
                        <label for="edittask-description">Description</label><br />
                        <textarea
                            name="description"
                            id="edittask-description"
                            cols="40"
                            rows="5"
                            required
                        ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="edittask-duration">Duration en heures</label>
                        <input
                            type="number"
                            name="duration"
                            id="edittask-duration"
                            min="1"
                            max="8"
                        />
                    </div>
                    <div class="form-group">
                        <label for="edittask-userstory">User Story</label><br />
                        <input
                            type="text"
                            list="userStories"
                            name="userStory"
                            id="edittask-userstory"
                            required
                        />
                        <datalist id="edittask-userstories">
                            <% response.userStories.forEach(us => { %>
                            <option value="<%= us.id %>">
                                <%= us.id %> &ensp; <%= us.label.substring(0,
                                40) %>
                            </option>
                            <% }); %>
                        </datalist>
                    </div>

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Modifier
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
