<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('head'); %>
        <link rel="stylesheet" href="login.css">
    </head>

    <body class="container text-center">
        <div class="row justify-content-center">
            <div class="col-4">
                <form class="form-signin" method="post" action="/user/login">
                    <h1 class="h3 mb-3">Connexion</h1>
                    <input type="text" id="inputLogin" name="username" class="form-control form-top" placeholder="Identifiant" required>
                    <input type="password" id="inputPassword"i name="password" class="form-control form-bottom" placeholder="Mot de passe" required>
                    <button class="btn btn-primary" type="submit">Se connecter</button>
                    <a class="btn btn-secondary" href="/user/signup">S'inscrire</a>
                </form>
            </div>
        </div>
        <footer>
            <%- include('footer'); %>
        </footer>
    </body>
</html>
