<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head'); %>
        <link rel="stylesheet" href="login.css">
    </head>

    <body class="text-center">
        <form class="form-signin">
            <h1 class="h3 mb-3">Connexion</h1>
            <input type="text" id="inputEmail" class="form-control" placeholder="Identifiant" required>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            <button class="btn btn-primary" type="submit">Se connecter</button>
        </form>
        <footer>
            <%- include('footer'); %>
        </footer>
    </body>
</html>
