    <!-- Modal -->
<div class="modal fade" id="modalStartSprint" tabindex="-1" aria-labelledby="modalStartSprintLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalStartSprintLabel">Démarrer un sprint</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <form method="POST" onsubmit="submitStartSprintForm(this)">
                                <div class="form-group">
                                    <input type="hidden" name="sprintId" id="sprintId" value="<%= response.projectId %>">
                                </div>
                                <div class="form-group">
                                    <input type="date" name="startDate" id="startDate" required>
                                </div>
                                <div class="form-group">
                                    <input type="date" name="endDate" id="endDate" required>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="submit" id="btnSubmitStartSprint" class="btn btn-primary" >Démarrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>